<!DOCTYPE html>
<html>
<head>
	<title>Goldo Chat Room</title>
	<link rel="stylesheet" href="/css/goldochat.css">
	<script src="http://code.jquery.com/jquery-1.11.1.js"></script>
</head>

<body>

<%- body %>

</body>
</html>
